################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JM.UI.Client/bin
/JM.UI.Client/obj
/JM.UI.DataService/bin
/JM.UI.DataService/obj
/JM.UI.Entities/bin
/JM.UI.Entities/obj
/JM.UI.Service/bin
/JM.UI.Service/obj
/JM.UITests/obj/Release/net8.0
/JM.UITests/obj/Debug/net8.0/JM.UITests.AssemblyInfo.cs
/JM.UITests/obj/Debug/net8.0/JM.UITests.AssemblyInfoInputs.cache
/JM.UITests/obj/Debug/net8.0/JM.UITests.assets.cache
/JM.UITests/obj/JM.UITests.csproj.nuget.dgspec.json
/JM.UITests/obj/project.assets.json
/JM.UITests/obj/project.nuget.cache
